openapi: 3.0.1
info:
  title: Информационно-статистический сервер Московской Биржи
  description: All requests must be called with the 'iss.json=extended' and 'iss.meta=off'  parameters.
  contact:
    url: https://www.moex.com/a2193
  version: v.0.14.1
servers:
- url: https://iss.moex.com/
- url: https://passport.moex.com/

security:
  - MicexPassportCert: []
        
paths:
  /authenticate:
    get:
      operationId: authenticate
      security:
        - BasicAuth: []
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
        '200':
          description: Access token
          content:
            text/plain:
              schema:
                type: string
                example: access token
                
  /iss/securities.json:
    get:
      description: Список бумаг торгуемых на московской бирже.
      operationId: get0
      parameters:
      - name: securities.engine
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.is_trading
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.market
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.q
        in: query
        description: "Поиск инструмента по части Кода, Названию, ISIN, Идентификат\
          ору Эмитента, Номеру гос.регистрации. Например: https://iss.moex.com/iss/securities.xml?q=MOEX\
          \  Слова длиной менее трёх букв игнорируются. Если параметром передано д\
          ва слова через пробел. То каждое должно быть длиной не менее трёх букв. "
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.limit
        in: query
        description: "Количество выводимых инструментов (5, 10, 20,100)"
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.group_by_filter
        in: query
        description: Фильтровать по типам group или type. Зависит от значения фильтра
          group_by
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.group_by
        in: query
        description: Группировать выводимый результат по полю. Доступны значения group
          и type.
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        default:
          description: get0 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response0'
  /iss/securities/{security}.json:
    get:
      description: "Получить спецификацию инструмента.  Например: https://iss.moex.com/iss/securities/IMOEX.xml"
      operationId: get1
      parameters:
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: boards.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        default:
          description: get1 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response1'
  /iss/securities/{security}/indices.json:
    get:
      description: Список индексов в которые входит бумага
      operationId: get2
      parameters:
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: indices.only_actual
        in: query
        description: Выводить индексы в базе которого бумага находится прямо сейчас.
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get2 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response2'
  /iss/securities/{security}/aggregates.json:
    get:
      description: Агрегированные итоги торгов за дату по рынкам
      operationId: get3
      parameters:
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: aggregates.date
        in: query
        description: дата за которую необходимо отобразить данные. По умолчанию за
          последнюю дату в итогах торгов.
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get3 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response3'
  /iss/engines/{engine}/markets/{market}/secstats.json:
    get:
      description: 'Промежуточные ''Итоги дня''. Только для фондового рынка '
      operationId: get4
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: secstats.tradingsession
        in: query
        description: Показать данные только за необходимую сессию 1 - Основная 2 -
          Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      - name: secstats.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH\
          \ (не более 10 инструментов)."
        required: false
        schema:
          type: string
          nullable: true
      - name: secstats.boardid
        in: query
        description: "Отфильтровать выдачу по режиму торгов. Например: boardid=TQBR,SMAL\
          \ (не более 10 режимов)."
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get4 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response4'
  /iss/turnovers.json:
    get:
      description: "Получить сводные обороты по рынкам. Например: https://iss.moex.com/iss/turnovers.xml"
      operationId: get5
      parameters:
      - name: turnovers.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      - name: turnovers.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoversprevdate.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoversprevdate.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectors.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectors.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectorsprevdate.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectorsprevdate.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get5 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response5'
  /iss/turnovers/columns.json:
    get:
      description: "Получить описание полей для запросов оборотов по рынку/торгово\
        й системе. Например: https://iss.moex.com/iss/engines/stock/turnovers/columns.xml"
      operationId: get6
      parameters: []
      responses:
        default:
          description: get6 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response6'
  /iss/engines/{engine}/turnovers.json:
    get:
      description: 'Получить текущее значение оборотов торговой сессии по рынкам торговой
        системы '
      operationId: get7
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: turnovers.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      - name: turnovers.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoversprevdate.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoversprevdate.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectors.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectors.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectorsprevdate.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: turnoverssectorsprevdate.is_tonight_session
        in: query
        description: Показывать обороты за вечернюю сессию
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get7 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response7'
  /iss/engines/{engine}/markets/{market}/turnovers.json:
    get:
      description: Получить текущее значение оборота по рынку
      operationId: get8
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get8 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response8'
  /iss/engines/{engine}/markets/zcyc.json:
    get:
      description: Получить данные по кривой бескупонной доходности (Прекращены расчеты
        с 2018-01-03)
      operationId: get9
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: parameters.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: parameters.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: parameters.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: values.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: values.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: values.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: parameters.dates.till
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: intraday.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: intraday.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: intraday.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: yields.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: yields.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: yields.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: base.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: base.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: base.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: model.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: model.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: model.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        default:
          description: get9 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response9'
  /iss/engines/{engine}/zcyc.json:
    get:
      operationId: get10
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: maxdates.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: params.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: yearyields.date
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: yearyields.show
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get10 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response10'
  /iss/index.json:
    get:
      description: "Получить глобальные справочники ISS.  Например: https://iss.moex.com/iss/index.xml"
      operationId: get11
      parameters:
      - name: boardgroups.engine
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: boardgroups.is_traded
        in: query
        description: "Показывать торгуемые только торгующиеся в настоящий момент г\
          руппы режимов торгов: is_traded=1"
        required: false
        schema:
          type: string
          nullable: true
      - name: securitytypes.engine
        in: query
        description: Показывать типы инструментов для торговой системы.
        required: false
        schema:
          type: string
          nullable: true
      - name: securitygroups.hide_inactive
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securitygroups.securitygroups
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securitygroups.trade_engine
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get11 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response11'
  /iss/engines.json:
    get:
      description: "Получить доступные торговые системы.  Например: https://iss.moex.com/iss/engines.xml"
      operationId: get12
      parameters: []
      responses:
        default:
          description: get12 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response12'
  /iss/history/engines/{engine}/markets/{market}/listing/columns.json:
    get:
      description: Получить описание полей для запросов торгуемости бумаг (листинга)
      operationId: get13
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get13 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response13'
  /iss/history/engines/{engine}/markets/{market}/listing.json:
    get:
      description: Список неторгуемых инструментов с указанием интервалов торгуемости
        по режимам
      operationId: get14
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: securities.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: securities.status
        in: query
        description: "Фильтр торгуемости инструментов: traded, nottraded или all"
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get14 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response14'
  /iss/history/engines/{engine}/markets/{market}/boards/{board}/listing.json:
    get:
      description: Получить данные по листингу бумаг в историческом разрезе по указанному
        режиму
      operationId: get15
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: board
        in: path
        required: true
        schema:
          type: string
      - name: securities.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: securities.status
        in: query
        description: "Фильтр торгуемости инструментов: traded, nottraded или all"
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get15 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response15'
  /iss/history/engines/{engine}/markets/{market}/boardgroups/{boardgroup}/listing.json:
    get:
      description: Получить данные по листингу бумаг в историческом разрезе по указанной
        группе режимов
      operationId: get16
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: boardgroup
        in: path
        required: true
        schema:
          type: string
      - name: securities.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: securities.status
        in: query
        description: "Фильтр торгуемости инструментов: traded, nottraded или all"
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get16 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response16'
  /iss/engines/{engine}.json:
    get:
      description: "Получить описание и режим работы торговой системы. Например: https://iss.moex.com/iss/engines/stock.xml"
      operationId: get17
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get17 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response17'
  /iss/history/engines/{engine}/markets/{market}/sessions.json:
    get:
      description: Список сессий доступных в итогах торгов.  Только для фондового
        рынка!
      operationId: get18
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get18 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response18'
  /iss/history/engines/{engine}/markets/{market}/sessions/{session}/securities.json:
    get:
      description: "Получить историю по всем бумагам на рынке за одну дату. Наприм\
        ер: https://iss.moex.com/iss/history/engines/stock/markets/index/securities.xml?date=2010-11-22"
      operationId: get19
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: session
        in: path
        required: true
        schema:
          type: string
      - name: history.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: history.assetcode
        in: query
        description: Фильтр по коду базового актива.  Только для Фьючерсов и опционов.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_column
        in: query
        description: Поле по которому сортируются выдача данных.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.limit
        in: query
        description: "Количество отдаваемых строк. Доступные значения: 100, 50, 20,\
          \ 10, 5, 1"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order
        in: query
        description: Порядок сортировки. Доступные значения 'asc' и 'desc'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order_desc
        in: query
        description: (Устарело) Порядок сортировки. Доступные значения Пусто и 'DESC'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.date
        in: query
        description: "Дата за которую необходимо вывести данные. Формат: ГГГГ-ММ-Д\
          Д."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.numtrades
        in: query
        description: Минимальное количество сделок с бумагой.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: history.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      - name: history.interim
        in: query
        description: Показать промежуточные итоги торгов (только для валютного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.start
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.date
        in: query
        description: "Дата за которую необходимо вывести данные.  Формат: ГГГГ-ММ\
          -ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.interim
        in: query
        description: Показать промежуточные итоги торгов (только для валютного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.security_type_id
        in: query
        description: Фильтровать по типу бумаг
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.numtrades
        in: query
        description: Минимальное количество сделок с бумагой
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.assetcode
        in: query
        description: Фильтр по коду базового актива.  Только для Фьючерсов и опционов.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.limit
        in: query
        description: "Количество отдаваемых строк. Доступные значения: 100, 50, 20,\
          \ 10, 5, 1"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get19 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response19'
  /iss/history/engines/{engine}/markets/{market}/sessions/{session}/securities/{security}.json:
    get:
      description: Получить историю по одной бумаге на рынке за интервал дат.
      operationId: get20
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: session
        in: path
        required: true
        schema:
          type: string
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: history.limit
        in: query
        description: "Количество выводимых бумаг доступны значения (1, 5, 10, 20,\
          \ 50, 100)"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_column
        in: query
        description: "Поле, по которому сортируется ответ."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order
        in: query
        description: 'Направление сортировки. - ''asc'' - По возрастанию значения
          - ''desc'' - По убыванию '
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order_desc
        in: query
        description: (Устаревшее) Порядок сортировки. Доступные значения Пусто и 'DESC'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.numtrades
        in: query
        description: Минимальное количество сделок с бумагой.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: history.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.start
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. \
          \ Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.till
        in: query
        description: "Дата, до которой выводить данные.  Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.numtrades
        in: query
        description: 'Минимальное количество сделок с бумагой. '
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.limit
        in: query
        description: "Количество выводимых бумаг доступны значения (1, 5, 10, 20,\
          \ 50, 100)"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get20 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response20'
  /iss/engines/{engine}/markets/{market}/orderbook/columns.json:
    get:
      description: "Получить описание полей для запросов стакана котировок для рын\
        ка. Например: https://iss.moex.com/iss/engines/stock/markets/shares/orderbook/columns.xml"
      operationId: get21
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get21 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response21'
  /iss/history/engines/{engine}/markets/{market}/session/{session}/boardgroups/{boardgroup}/securities.json:
    get:
      description: 'Получить историю торгов для всех бумаг на указанной группе режимов
        торгов за указанную дату. '
      operationId: get22
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: session
        in: path
        required: true
        schema:
          type: string
      - name: boardgroup
        in: path
        required: true
        schema:
          type: string
      - name: history.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: history.assetcode
        in: query
        description: Фильтр по коду базового актива.  Только для Фьючерсов и опционов.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_column
        in: query
        description: Поле по которому сортируются выдача данных.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.limit
        in: query
        description: "Количество отдаваемых строк. Доступные значения: 100, 50, 20,\
          \ 10, 5, 1"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order
        in: query
        description: Порядок сортировки. Доступные значения 'asc' и 'desc'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order_desc
        in: query
        description: (Устарело) Порядок сортировки. Доступные значения Пусто и 'DESC'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.date
        in: query
        description: "Дата за которую необходимо вывести данные. Формат: ГГГГ-ММ-Д\
          Д."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.numtrades
        in: query
        description: Минимальное количество сделок с бумагой.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: history.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      - name: history.interim
        in: query
        description: Показать промежуточные итоги торгов (только для валютного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.start
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.date
        in: query
        description: "Дата за которую необходимо вывести данные.  Формат: ГГГГ-ММ\
          -ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.interim
        in: query
        description: Показать промежуточные итоги торгов (только для валютного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.security_type_id
        in: query
        description: Фильтровать по типу бумаг
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.numtrades
        in: query
        description: Минимальное количество сделок с бумагой
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.assetcode
        in: query
        description: Фильтр по коду базового актива.  Только для Фьючерсов и опционов.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.limit
        in: query
        description: "Количество отдаваемых строк. Доступные значения: 100, 50, 20,\
          \ 10, 5, 1"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get22 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response22'
  /iss/history/engines/{engine}/markets/{market}/sessions/{session}/boardgroups/{boardgroup}/securities/{security}.json:
    get:
      description: 'Получить историю торгов для указанной бумаги на выбранной группе
        режимов торгов за указанный интервал дат. '
      operationId: get23
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: session
        in: path
        required: true
        schema:
          type: string
      - name: boardgroup
        in: path
        required: true
        schema:
          type: string
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: history.limit
        in: query
        description: "Количество выводимых бумаг доступны значения (1, 5, 10, 20,\
          \ 50, 100)"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_column
        in: query
        description: "Поле, по которому сортируется ответ."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order
        in: query
        description: 'Направление сортировки. - ''asc'' - По возрастанию значения
          - ''desc'' - По убыванию '
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order_desc
        in: query
        description: (Устаревшее) Порядок сортировки. Доступные значения Пусто и 'DESC'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.numtrades
        in: query
        description: Минимальное количество сделок с бумагой.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: history.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.start
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. \
          \ Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.till
        in: query
        description: "Дата, до которой выводить данные.  Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.numtrades
        in: query
        description: 'Минимальное количество сделок с бумагой. '
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.limit
        in: query
        description: "Количество выводимых бумаг доступны значения (1, 5, 10, 20,\
          \ 50, 100)"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get23 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response23'
  /iss/history/engines/{engine}/markets/{market}/sessions/{session}/boards/{board}/securities.json:
    get:
      description: 'Получить историю торгов для всех бумаг на указанном режиме торгов
        отфильтрованных по дате. '
      operationId: get24
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: session
        in: path
        required: true
        schema:
          type: string
      - name: board
        in: path
        required: true
        schema:
          type: string
      - name: history.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: history.assetcode
        in: query
        description: Фильтр по коду базового актива.  Только для Фьючерсов и опционов.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_column
        in: query
        description: Поле по которому сортируются выдача данных.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.limit
        in: query
        description: "Количество отдаваемых строк. Доступные значения: 100, 50, 20,\
          \ 10, 5, 1"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order
        in: query
        description: Порядок сортировки. Доступные значения 'asc' и 'desc'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order_desc
        in: query
        description: (Устарело) Порядок сортировки. Доступные значения Пусто и 'DESC'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.date
        in: query
        description: "Дата за которую необходимо вывести данные. Формат: ГГГГ-ММ-Д\
          Д."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.numtrades
        in: query
        description: Минимальное количество сделок с бумагой.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: history.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      - name: history.interim
        in: query
        description: Показать промежуточные итоги торгов (только для валютного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.start
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.date
        in: query
        description: "Дата за которую необходимо вывести данные.  Формат: ГГГГ-ММ\
          -ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.interim
        in: query
        description: Показать промежуточные итоги торгов (только для валютного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.security_type_id
        in: query
        description: Фильтровать по типу бумаг
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.numtrades
        in: query
        description: Минимальное количество сделок с бумагой
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.assetcode
        in: query
        description: Фильтр по коду базового актива.  Только для Фьючерсов и опционов.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.limit
        in: query
        description: "Количество отдаваемых строк. Доступные значения: 100, 50, 20,\
          \ 10, 5, 1"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.cursor.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get24 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response24'
  /iss/history/engines/{engine}/markets/{market}/sessions/{session}/boards/{board}/securities/{security}.json:
    get:
      description: 'Получить историю торгов для указанной бумаги на указанном режиме
        торгов за указанный интервал дат. '
      operationId: get25
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: session
        in: path
        required: true
        schema:
          type: string
      - name: board
        in: path
        required: true
        schema:
          type: string
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: history.sort_order
        in: query
        description: 'Направление сортировки. - ''asc'' - По возрастанию значения
          - ''desc'' - По убыванию '
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_order_desc
        in: query
        description: (Устаревшее) Порядок сортировки. Доступные значения Пусто и 'DESC'.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.from
        in: query
        description: "Дата, начиная с которой необходимо начать выводить данные. Ф\
          ормат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.till
        in: query
        description: "Дата, до которой выводить данные. Формат: ГГГГ-ММ-ДД."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.numtrades
        in: query
        description: Минимальное количество сделок с бумагой.
        required: false
        schema:
          type: string
          nullable: true
      - name: history.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: history.limit
        in: query
        description: "Количество выводимых бумаг доступны значения (1, 5, 10, 20,\
          \ 50, 100)"
        required: false
        schema:
          type: string
          nullable: true
      - name: history.sort_column
        in: query
        description: "Поле, по которому сортируется ответ."
        required: false
        schema:
          type: string
          nullable: true
      - name: history.tradingsession
        in: query
        description: Показать данные только за необходимую сессию (только для фондового
          рынка) 1 - Основная 2 - Вечерняя 3 - Итого
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get25 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response25'
  /iss/engines/{engine}/markets/{market}/securities/columns.json:
    get:
      description: "Получить описание полей для запросов публикуемых бумаг для рын\
        ка. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities/columns.xml"
      operationId: get26
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get26 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response26'
  /iss/history/engines/{engine}/markets/{market}/securities/columns.json:
    get:
      description: Получить описание полей для запросов исторических данных по бумагам
        для рынка.
      operationId: get27
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get27 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response27'
  /iss/history/engines/{engine}/markets/{market}/{securities}/columns.json:
    get:
      description: Получить описание полей для запросов исторических данных по бумагам
        для рынка.
      operationId: get28
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: securities
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get28 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response28'
  /iss/engines/{engine}/markets.json:
    get:
      description: "Получить список рынков торговой системы.  Например: https://iss.moex.com/iss/engines/stock/markets.xml"
      operationId: get29
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get29 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response29'
  /iss/engines/{engine}/markets/{market}/trades/columns.json:
    get:
      description: "Получить описание полей для запроса сделок по рынку. Например\
        : https://iss.moex.com/iss/engines/stock/markets/shares/trades/columns.xml"
      operationId: get30
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get30 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response30'
  /iss/engines/{engine}/markets/{market}.json:
    get:
      description: "Получить описание: словарь доступных режимов торгов, описание\
        \ полей публикуемых таблиц данных и т.д. Например: https://iss.moex.com/iss/engines/stock/markets/shares.xml"
      operationId: get31
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get31 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response31'
  /iss/engines/{engine}/markets/{market}/securities.json:
    get:
      description: "Получить таблицу инструментов торговой сессии по рынку в целом\
        . Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities.xml "
      operationId: get32
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: securities.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH\
          \ (не более 10 инструментов)."
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sectypes
        in: query
        description: Фильтр по типу инструмента (только для срочного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.leaders
        in: query
        description: Лидеры торгов (только для futures/options)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.previous_session
        in: query
        description: 'Данные предыдущей сессии для forts и options рынков  '
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities?securities=GAZP,AFLT,LKOH\
          \ Ограничение: 10 инструментов."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sectypes
        in: query
        description: "Фильтр по типу инструмента (только для срочного рынка). Напр\
          имер: https://iss.moex.com/iss/engines/futures/markets/forts/securities?sectypes=ri,gz\
          \ Ограничения: не более 5 типов бумаг."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.leaders
        in: query
        description: Лидеры торгов (только для futures/options и индексов фондового
          рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.previous_session
        in: query
        description: Данные предыдущей сессии для forts и options рынков
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.seqnum
        in: query
        description: "Номер обновления. Инкрементальный параметр, используется кли\
          ентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: marketdata_yields.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities?securities=GAZP,AFLT,LKOH\
          \ Ограничение: 10 инструментов."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sectypes
        in: query
        description: "Фильтр по типу инструмента (только для срочного рынка). Напр\
          имер: https://iss.moex.com/iss/engines/futures/markets/forts/securities?sectypes=ri,gz\
          \ Ограничения: не более 5 типов бумаг."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.leaders
        in: query
        description: Лидеры торгов (только для futures/options и индексов фондового
          рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.previous_session
        in: query
        description: Данные предыдущей сессии для forts и options рынков
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.seqnum
        in: query
        description: "Номер обновления. Инкрементальный параметр, используется кли\
          ентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        default:
          description: get32 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response32'
  /iss/engines/{engine}/markets/{market}/securities/{security}.json:
    get:
      description: "Получить данные по конкретному инструменту рынка. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities/AFLT.xml"
      operationId: get33
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: securities.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sectypes
        in: query
        description: Фильтр по типу инструмента (только для срочного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.leaders
        in: query
        description: Лидеры торгов (только для futures/options)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH\
          \ (не более 10 инструментов)."
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.previous_session
        in: query
        description: 'Данные предыдущей сессии для forts и options рынков  '
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.previous_session
        in: query
        description: Данные предыдущей сессии для forts и options рынков
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sectypes
        in: query
        description: "Фильтр по типу инструмента (только для срочного рынка). Напр\
          имер: https://iss.moex.com/iss/engines/futures/markets/forts/securities?sectypes=ri,gz\
          \ Ограничения: не более 5 типов бумаг."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.leaders
        in: query
        description: Лидеры торгов (только для futures/options и индексов фондового
          рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities?securities=GAZP,AFLT,LKOH\
          \ Ограничение: 10 инструментов."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.seqnum
        in: query
        description: "Номер обновления. Инкрементальный параметр, используется кли\
          ентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: marketdata_yields.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities?securities=GAZP,AFLT,LKOH\
          \ Ограничение: 10 инструментов."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sectypes
        in: query
        description: "Фильтр по типу инструмента (только для срочного рынка). Напр\
          имер: https://iss.moex.com/iss/engines/futures/markets/forts/securities?sectypes=ri,gz\
          \ Ограничения: не более 5 типов бумаг."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.leaders
        in: query
        description: Лидеры торгов (только для futures/options и индексов фондового
          рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.previous_session
        in: query
        description: Данные предыдущей сессии для forts и options рынков
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.seqnum
        in: query
        description: "Номер обновления. Инкрементальный параметр, используется кли\
          ентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        default:
          description: get33 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response33'
  /iss/engines/{engine}/markets/{market}/securities/{security}/trades.json:
    get:
      description: "Получить сделки по инструменту.  Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities/AFLT/trades.xml"
      operationId: get34
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: trades.previous_session
        in: query
        description: 'Сделки предыдущей сессии для forts и options рынков. И для индексов. '
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.tradeno
        in: query
        description: "Номер сделки, с которого следует начать возвращать данные."
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.limit
        in: query
        description: "Количество строк в данных. Доступные значения: 1, 10, 100, 1000,\
          \ 5000"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.reversed
        in: query
        description: обратный порядок сортировки
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: trades_yields.tradeno
        in: query
        description: "Номер сделки, с которого следует начать возвращать данные. "
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.limit
        in: query
        description: "Количество строк в данных. Доступные значения: 1, 10, 100, 1000,\
          \ 5000"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.reversed
        in: query
        description: Обратный порядок сортировки
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.start
        in: query
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: trades_yields.yielddatetype
        in: query
        description: Тип доходности. Возможные значения - MBS - MATDATE - OFFERDATE
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get34 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response34'
  /iss/engines/{engine}/markets/{market}/securities/{security}/orderbook.json:
    get:
      description: "Получить стакан заявок по инструменту. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities/AFLT/orderbook.xml"
      operationId: get35
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: orderbook.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: orderbook.seqnum
        in: query
        description: "(Устарел) Номер обновления. Инкрементальный параметр, исполь\
          зуется клиентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: orderbook.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH"
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get35 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response35'
  /iss/engines/{engine}/markets/{market}/trades.json:
    get:
      description: "Получить все сделки рынка. Например: https://iss.moex.com/iss/engines/stock/markets/shares/trades.xml"
      operationId: get36
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: trades.tradeno
        in: query
        description: "Номер сделки, с которого следует начать возвращать данные."
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.limit
        in: query
        description: "Количество строк в данных. Доступные значения: 1, 10, 100, 1000,\
          \ 5000"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.reversed
        in: query
        description: обратный порядок сортировки
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.previous_session
        in: query
        description: 'Сделки предыдущей сессии для forts и options рынков. И для индексов. '
        required: false
        schema:
          type: string
          nullable: true
      - name: trades.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: trades_yields.tradeno
        in: query
        description: "Номер сделки, с которого следует начать возвращать данные. "
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.limit
        in: query
        description: "Количество строк в данных. Доступные значения: 1, 10, 100, 1000,\
          \ 5000"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.reversed
        in: query
        description: Обратный порядок сортировки
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH"
        required: false
        schema:
          type: string
          nullable: true
      - name: trades_yields.start
        in: query
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: trades_yields.yielddatetype
        in: query
        description: Тип доходности. Возможные значения - MBS - MATDATE - OFFERDATE
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get36 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response36'
  /iss/engines/{engine}/markets/{market}/orderbook.json:
    get:
      description: "Получить стаканы заявок всех инструментов рынка. Например: https://iss.moex.com/iss/engines/stock/markets/shares/orderbook.xml"
      operationId: get37
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: orderbook.start
        in: query
        description: "Номер строки (отсчет с нуля), с которой следует начать порци\
          ю возвращаемых данных (см. рук-во разработчика). Получение ответа без да\
          нных означает, что указанное значение превышает число строк, возвращаемы\
          х запросом."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: orderbook.seqnum
        in: query
        description: "(Устарел) Номер обновления. Инкрементальный параметр, исполь\
          зуется клиентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: orderbook.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH"
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: get37 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response37'
  /iss/engines/{engine}/markets/{market}/boards.json:
    get:
      description: "Получить справочник режимов торгов рынка. Например: https://iss.moex.com/iss/engines/stock/markets/shares/boards.xml"
      operationId: get38
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get38 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response38'
  /iss/engines/{engine}/markets/{market}/boards/{board}.json:
    get:
      description: "Получить описание режима торгов. Например: https://iss.moex.com/iss/engines/stock/markets/shares/boards/TQBR.xml"
      operationId: get39
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: board
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: get39 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response39'
  /iss/engines/{engine}/markets/{market}/boards/{board}/securities.json:
    get:
      description: "Получить таблицу инструментов по режиму торгов. Например: https://iss.moex.com/iss/engines/stock/markets/shares/boards/TQBR/securities.xml"
      operationId: get40
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: board
        in: path
        required: true
        schema:
          type: string
      - name: securities.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sectypes
        in: query
        description: Фильтр по типу инструмента (только для срочного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.leaders
        in: query
        description: Лидеры торгов (только для futures/options)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH\
          \ (не более 10 инструментов)."
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.previous_session
        in: query
        description: 'Данные предыдущей сессии для forts и options рынков  '
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.previous_session
        in: query
        description: Данные предыдущей сессии для forts и options рынков
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sectypes
        in: query
        description: "Фильтр по типу инструмента (только для срочного рынка). Напр\
          имер: https://iss.moex.com/iss/engines/futures/markets/forts/securities?sectypes=ri,gz\
          \ Ограничения: не более 5 типов бумаг."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.leaders
        in: query
        description: Лидеры торгов (только для futures/options и индексов фондового
          рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities?securities=GAZP,AFLT,LKOH\
          \ Ограничение: 10 инструментов."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.seqnum
        in: query
        description: "Номер обновления. Инкрементальный параметр, используется кли\
          ентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: marketdata_yields.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: https://iss.moex.com/iss/engines/stock/markets/shares/securities?securities=GAZP,AFLT,LKOH\
          \ Ограничение: 10 инструментов."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sectypes
        in: query
        description: "Фильтр по типу инструмента (только для срочного рынка). Напр\
          имер: https://iss.moex.com/iss/engines/futures/markets/forts/securities?sectypes=ri,gz\
          \ Ограничения: не более 5 типов бумаг."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.leaders
        in: query
        description: Лидеры торгов (только для futures/options и индексов фондового
          рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.previous_session
        in: query
        description: Данные предыдущей сессии для forts и options рынков
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata_yields.seqnum
        in: query
        description: "Номер обновления. Инкрементальный параметр, используется кли\
          ентскими приложениями для получения только обновлений данных."
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        default:
          description: get40 default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response40'
  /iss/engines/{engine}/markets/{market}/boards/{board}/securities/{security}.json:
    get:
      description: Получить данные по указанному инструменту на выбранном режиме торгов.
      operationId: get41
      parameters:
      - name: engine
        in: path
        required: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        schema:
          type: string
      - name: board
        in: path
        required: true
        schema:
          type: string
      - name: security
        in: path
        required: true
        schema:
          type: string
      - name: securities.security_collection
        in: query
        description: Фильтр по коллекции
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sectypes
        in: query
        description: Фильтр по типу инструмента (только для срочного рынка)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.leaders
        in: query
        description: Лидеры торгов (только для futures/options)
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_order
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.sort_column
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.first
        in: query
        description: Отдать n первых строк
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.securities
        in: query
        description: "Фильтр-список инструментов. Получение данных производится то\
          лько по инстурментам из списка securities. Например: securities=GAZP,AFLT,LKOH\
          \ (не более 10 инструментов)."
        required: false
        schema:
          type: string
          nullable: true
      - name: securities.previous_session
        in: query
        description: 'Данные предыдущей сессии для forts и options рынков  '
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.previous_session
        in: query
        description: Данные предыдущей сессии для forts и options рынков
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.index
        in: query
        description: Выводить акции из базы индекса. Только для фондового рынка.
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.sectypes
        in: query
        description: "Фильтр по типу инструмента (только для срочного рынка). Напр\
          имер: https://iss.moex.com/iss/engines/futures/markets/forts/securities?sectypes=ri,gz\
          \ Ограничения: не более 5 типов бумаг."
        required: false
        schema:
          type: string
          nullable: true
      - name: marketdata.nearest
        in: query
        description: Выводить фьючерсы с ближайшей датой погашения
        required: false
        schema:
          type: string
[...]
